
#logo-container{
    padding: 10px;
}
#logo-img{
    width: 185px;
    height: 150px;
    border-radius: 15px;
}

.container-fluid{
    justify-content: space-between;
}
nav{
    margin-top: 10px;
}
.navbar{
    height: 85px;
    background-image: linear-gradient(120deg,RGB(38, 43, 30),rgb(10,55,46));
}
.nav-item > a{
    color:rgb(222,182,110);
    font-size: 20px;
    margin-left: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.25s;
}
.nav-item > a:hover{
    color: goldenrod;
    transform: scale(1.15);
    transition: all 0.25s;
}
.nav-link{
    color: #262b1e;
    transition: all 0.25s;
}
.nav-custom:hover{
    transform: scale(1.075);
    transition: all 0.25s;
    font-weight: bold;
}
.text-custom{
    color: rgb(38, 43, 30);
}
.d-block{
    width: 30%;
    height: 500px;
    margin: 100px auto 0;
    border-radius: 20px;
    
}
.about-text{
    margin: 150px;
    font-size: 20px;
    font-family: Roboto;
    border: 1px solid RGB(38, 43, 30);
    box-shadow: 5px 5px 10px 2px rgb(38, 43, 30);
    color:rgb(38, 43, 30);
    border-radius: 10px;
    
}
#custom-register{
    margin-top: 75px;
    background-color: rgba(38, 43, 30, 0.25);
    width: 40%;
    border-radius: 20px;
}

.mx-auto > form > button, form > div > label {
    margin-top: 20px;
}
.form-group > label{
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#custom-login > form > .form-group > button {
    margin-left: 10%; 
    margin-top: 25px;
}

/* @media (max-width: 650px) {
    #social-medias{
        display: none;
        background-color: red;
        visibility: hidden;
    }
} */